.algo-library-container {
  background-color: #1c1c1c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 500px;
  z-index: 1;
}

.library-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.library-actions input {
  flex: 2;
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 40px;
  box-sizing: border-box;
  font-size: 15px;
}

.library-actions button {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.library-actions button:hover {
  background-color: #0056b3;
}

.library-list {
  margin-top: 20px;
}

.library-list h3 {
  color: white;
  margin-bottom: 10px;
}

.library-list ul {
  list-style-type: none;
  padding: 0;
}

.library-list li {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #2A2A2A;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.library-list li span {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
}

.library-list li button {
  margin-right: 5px;
  padding: 5px 10px;
  background-color: rgb(8,153,128);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.library-list li button:hover {
  background-color: #218838;
}

.library-list .algorithm-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.library-list .algorithm-actions input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.library-list .algorithm-actions button {
  padding: 5px 10px;
  background-color: #17a2b8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.library-list .algorithm-actions button:hover {
  background-color: #117a8b;
}

.algo-list {
  margin-left: 20px;
}
