
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #444;
  width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.custom-select {
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 424px;
  height: 44px;
  border-radius: 4px;
}

select {
  margin-top: 5px;
}

input, select {
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 15px;
}

input::placeholder, select {
  color: #aaa;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
