body {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

.watchlist-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.create-watchlist-btn {
  background-color: rgb(8,153,128);
  color: #ffffff;
  padding: 10px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.create-watchlist-btn:hover {
  background-color: #0056b3;
}

.watchlist-list {
  list-style-type: none;
  padding: 0;
}

.watchlist-item {
  background-color: #1c1c1c;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.watchlist-item h2 {
  color: white;
}

.watchlist-buttons button {
  background-color: rgb(8,153,128);
  color: #ffffff;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.watchlist-buttons button:hover {
  background-color: #0056b3;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.spinner {
  font-size: 24px;
  margin-right: 10px;
}

.stocks-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.stock-item {
  background-color: #2a2a2a;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.stock-buttons button {
  background-color: rgb(8,153,128);
  color: #ffffff;
  padding: 5px 10px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
}

.stock-buttons button:hover {
  background-color: #0056b3;
}
