#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

#modal-content {
  position: relative;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  max-width: 500px;
  width: 90%;
}

#modal-content h1 {
  margin-top: 0;
}

#modal-content p {
  margin: 5px 0;
}

#modal-content form label {
  display: block;
  margin: 10px 0 5px;
}

#modal-content form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

#modal-content form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  font-size: 16px;
  background-color: rgb(28,193,201);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#modal-content form button:hover {
  background-color: #e6b800;
}
