body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.landing-page {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Nunito';
}

.nav-bar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-bar ul li {
  margin: 0 20px;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  max-width: 120%;
  max-height: 120%;
  margin: 25px;
}

.info-links {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.info-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.info-links ul li {
  margin: 0 20px;
}

.info-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
