.roi-comparison {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black;
  color: white;
}

.roi-comparison h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: white
}

.roi-box {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s;
}

.roi-box.winner {
  border: 2px solid green;
  background-color: rgb(8,153,128);
}

.roi-box.loser {
  border: 2px solid red;
  background-color: rgb(242,54,68);
}

.roi-box h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.roi-box p {
  margin: 5px 0;
  font-size: 16px;
}

.roi-box:hover {
  transform: scale(1.05);
}

.roi-comparison {
  text-align: center;
  margin-top: 20px;
}

.roi-comparison h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.roi-container {
  display: flex;
  justify-content: center;
}

.roi-box {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s;
  position: relative;
}

.winning-badge {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.roi-box.winner {
  border: 2px solid green;
  background-color: rgb(8,153,128);
  color: white;
}

.roi-box.loser {
  border: 2px solid red;
  background-color: rgb(242,54,68);
  color: white;
}

.roi-box h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: white;
}

.roi-box p {
  margin: 5px 0;
  font-size: 16px;
  color: white;
}

.roi-box:hover {
  transform: scale(1.05);
}
