.profile-dropdown {
  position: absolute;
}

.nav-bar {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
  box-shadow: none;
  margin: 25px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-bar ul li {
  margin: 0 20px;
}

.nav-bar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  opacity: 1;
}
